
.like {
    
    width: 32px;
    height: 32px;
}

.home{
 background: url(./images/489374.jpg);
  background-attachment: fixed;
   min-height: 90vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
 }

.bg-accueil{
  background: url(./images/wordcloud\ \(1\).svg);
  background-size: cover;
  min-height: 91vh;
}
.col-text{
padding-top: 200px;
}

* {
	box-sizing: border-box;
}




.ulul{
  list-style: none;
}

h1 {
	font-size: 36px;
}

.flip > .front {
	transform: rotateY(0deg);
}

.flip > .back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform: rotateY(-180deg);
}

.flip:hover > .front {
	transform: rotateY(180deg);
}

.flip:hover > .back {
	opacity: 1;
	transform: rotateY(0deg);
}




.flip {
	width: 400px;

	position: relative;
	display: inline-block;
}

.flip > .front,
.flip > .back {
	width: inherit;
	height: 220px;
	padding: 16px 32px;
	display: block;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.5s;
	transition-property: transform, opacity;
	background-size: cover !important;
	background-position: center !important;
	border-radius: 10px;
	color: #fff;
	background: #313131;
}

.flip > .back p {
	font-size: 16px;
	line-height: 160%;
	color: #999;
}

.text-shadow {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
		3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
		5px 5px rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
		7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
		9px 9px rgba(0, 0, 0, 0.04), 10px 10px rgba(0, 0, 0, 0.04),
		11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
		13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
		15px 15px rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
		17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
		19px 19px rgba(0, 0, 0, 0.04), 20px 20px rgba(0, 0, 0, 0.04);
}




.portfolio-p {margin:0}



.like{
    padding-top: 10px;
    padding-right: 100px;
}

.h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}





.aquiredskills {
    padding-bottom: 50px;

}
.currentskills{
    padding-bottom: 50px;
    min-height: 500px;
}

body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}


.card-c {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 240px;
  /* background-color: #17141d; */
  border-radius: 10px;
  box-shadow: -1rem 0 1rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}



.card-c:not(:first-child) {
    margin-left: 40px;
}

.card-c:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-c:hover ~ .card-c {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card-c:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 160px;
  left: calc(40% - 20px);
}
.circle-a{
  position: absolute;
  top: 160px;
  left: calc(40% - 5px);
}
.circle-b{
  position: absolute;
  top: 160px;
  left: calc(50% - 10px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card-c:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}



.board {
  list-style: none;
  display: flex;
}

.board>li {
  height: 3em;
  width: 3em;
  color: rgba(0,0,0,0.7);
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.4em;
  transition: 0.3s;
  text-align: center;
  font-size: 1em;
}
.lili {
  width: 80%;
  
  
}
#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#enter {
  width: 6em;
}

#right-shift {
  width: 8em;
}

#back {
  width: 5em;
}

.pinky { 
  background-color: crimson;
  border: 2px solid crimson;
}
.pinky.selected {
  color: crimson;
}

.ring { 
  background-color: coral;
  border: 2px solid coral;
}
.ring.selected {
  color: coral;
}

.middle { 
  background-color: darkorange;
  border: 2px solid darkorange;
}
.middle.selected {
  color: darkorange;
}

.pointer1st { 
  background-color: gold;
  border: 2px solid gold;
}
.pointer1st.selected {
  color: gold;
}

.pointer2nd { 
  background-color: khaki;
  border: 2px solid khaki;
}
.pointer2nd.selected {
  color: khaki;
}

.fill-out-key {
  background-color: slategrey;
  border: 2px solid slategrey;
}

.selected {
  background-color: transparent;
  	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.hit {
	-webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


  footer ul {
    margin-bottom: 0;
  }
  
  footer ul li a {
    font-size: 12px;
  }
  
  footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
    text-decoration: none;
  }

